<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Notes app
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Blank</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">
 <h3><ion-input type="text" [(ngModel)]="myUser" placeholder="Enter name"></ion-input><!-- using data binding to pass the name to the backend-->
      <ion-button (click)="saveUser()" >Submit</ion-button>

  </h3>
    
    <h2 [hidden]="hidden">
      <p>Thank you for entering your name!<p>
      <br>
      <p>To continue press the button</p>
      <br>
      <ion-button (click)="openInfo()">Next page</ion-button>
      </h2>
  </div>
  
  
  
</ion-content>
